.saved,
.save {
  background: #3f3fa8;
  color: white;
  padding: 10px;
}

.saved {
  background: green;
}

.saving {
  background: #6666b4;
}

.save {
  background: #3f3fa8;
  color: white;
  padding: 10px;
}

button {
  padding: 0px;
  margin: 0px;
  border: 0;
}
